<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript">
      var googKey = {{herokugoogKey}}  // 
    </script>
  </body>
</html>
